<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href="/dashboard">
      <img src="assets/Vector.svg" alt="Logo" width="24" height="24" style="vertical-align: middle; margin-right: 8px;">
      Taskmaster
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" aria-current="page" href="">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Tasks</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        -->
        <!--
        <li class="nav-item">
          <a class="nav-link" href="#">People</a>
        </li>
        -->
        <li class="nav-item">
          <a routerLink="/employees" class="nav-link">Employees</a>
        </li>


      </ul>

      <div class="d-flex justify-content-end align-items-center gap-3 me-3">
        <!-- Search -->
        <div class="input-group">
          <span class="input-group-text">
            <i class="bi bi-search"></i>
          </span>
          <input
            type="search"
            class="form-control search-input border-start-0"
            placeholder="Search"
            aria-label="Search"
          />
        </div>

        <!-- Bell icon -->
        <i class="bi bi-bell"></i>

        <!-- Avatar -->
        <ng-container *ngIf="user?.avatarUrl; else iconFallback">
          <img
            [src]="user.avatarUrl"
            class="rounded-circle user-logo"
            alt="User"
          />
        </ng-container>

        <ng-template #iconFallback>
          <div
            class="rounded-circle user-avatar d-flex align-items-center justify-content-center"
          >
            <i class="bi bi-person-fill"></i>
          </div>
        </ng-template>
      </div>

    </div>
  </div>
</nav>
