<div class="container mt-4">
  <h1 class="fw-bold">Employees</h1>
  <br>
  <div class="table-rounded-wrapper">
    <table class="table table-hover">
      <thead class="table">
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Assigned Tasks</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.name }}</td>
          <td>{{ emp.role.name }}</td> <!-- ✅ fixed -->
          <td>{{ emp.assigned_tasks_count }}</td>
          <td>
            <span class="badge" *ngIf="emp.status === 'Active'">{{ emp.status }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
