.table {
  width: 100%;
  table-layout: fixed;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
  border-spacing: 0 0; /* Ensure no extra spacing between cells */
}

.table-hover{
  margin-bottom: 0px;
}

/* Round top-left and top-right corners of thead */
.table thead tr:first-child th:first-child {
  border-top-left-radius: 16px;
}
.table thead tr:first-child th:last-child {
  border-top-right-radius: 16px;
}

/* Round bottom-left and bottom-right corners of tbody */
.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px;
}
.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px;
}

.table th {
  font-weight: 500;
  padding: 16px;
}

.table td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 30px 12px;
  vertical-align: middle;
  text-align: center;
  color: #61758A;
}

.table th:first-child,
.table td:first-child {
  text-align: left;
  padding-left: 12px;
}

.table th:last-child{
  text-align: center;
  padding-right: 12px;
  padding-left: 0;
}

.table thead tr:first-child th {
  border-top: none;
}

.table tbody tr:last-child td {
  border-bottom: none;
}


.badge{
  height: 32px;
  width: 160px;
  padding: 8px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #6FCF97;
}


.table-rounded-wrapper {
  border: 1px solid #b8b8b8;
  border-radius: 16px;
  overflow: hidden;
}
