/* view-task.component.css */

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  justify-content: end;
}

.priority-dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  justify-content: end;
}

.task-image {
  max-width: 412px;
  max-height: 412px;
  border: none;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 2px 2px 8px rgb(151, 151, 151);
}

.subtask-lists {
  justify-content: start;
  padding: 0;
  margin: 18px 0px;
  font-size: 14px;
}



.bg-high {
  background-color: #dc3545; /* red */
}

.bg-medium {
  background-color: #ffc107; /* yellow */
}

.bg-low {
  background-color: #28a745; /* green */
}
