/* view-task.component.css */

.task-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
