/* view-task.component.css */

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}


.task-image {
  max-width: 412px;
  max-height: 412px;
  border: 1px solid #ccc;
  border-radius: 8px;
  object-fit: cover;
}
