<p>login works!</p>

<div class="login-wrapper">
  <!--Left section-->
  <div class="left-panel">
    <div class="welcome-box">
      <h1>Welcome to Frontlyne</h1>
      <p>
        One stop integrated and configurable performance management solution
        for your retail teams.
      </p>
      <img src="" alt="">
    </div>
  </div>

  <!-- Right Section -->

  <div class="right-panel">
    <div class="login-form">
      <h2>Welcome To</h2>
      <h1>Frontlyne</h1>

      <form>
        <input type="email" placeholder="Enter email ID" required>
        <button type="submit">CONTINUE</button>

        <div class="divider">or</div>

        <button type="button" class="mobile-btn">
          LOGIN USING MOBILE NUMBER
        </button>
      </form>

      <p class="terms">
        By logging into this application you abide by its
        <a href="">Terms & Conditions</a>
      </p>

      <p class="powered">Powered by <strong>Frontlyne</strong></p>
    </div>
  </div>
</div>
