<div class="login-wrapper">
  <!--Left section-->
  <div class="left-panel">
    <div class="welcome-box">
      <img src="/assets/frontlyne-logo.svg" alt="Frontlyne logo" class="welcome-logo" />
    </div>

    <div class="carousel-container">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5500">


        <!-- Indicators -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/carousel_1.jpg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="assets/carousel_2.jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="assets/carousel_3.jpg" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
      </div>
    </div>



  </div>

  <!-- Right Section -->

  <div class="right-panel">
    <div class="login-form">
      <h3>Welcome To</h3>
      <h1>FRONTLYNE</h1>

      <form>
        <input type="email" placeholder="Enter email ID" required>
        <button type="submit">CONTINUE</button>

        <div class="divider">or</div>

        <button type="button" class="mobile-btn">
          LOGIN USING MOBILE NUMBER
        </button>
      </form>

      <p class="terms">
        By logging into this application you abide by its
        <a href="">Terms & Conditions</a>
      </p>

      <p class="powered">
        Powered by
        <img src="/assets/frontlyne-logo-black.svg" alt="Frontlyne logo" class="powered-logo" />
      </p>

    </div>
  </div>
</div>
